.hero {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background-color: rgb(135, 175, 210);
    padding: 10px;
}

.main {
    background-color: aliceblue;
}

.projects-heading {
    display: flex;
    gap: 10px;
}

button:hover {
    cursor: pointer;
}

.form-container {
    background-color: aliceblue;
    max-width: 250px;
    min-height: 100px;
    margin: auto;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.project-task-lists {
    margin-left: 10px;
    font-size: 14px;
}