.hero {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background-color: rgb(135, 175, 210);
}

.main {
    background-color: aliceblue;
}

.projects-sidebar {
    display: flex;
    gap: 10px;
}

button:hover {
    cursor: pointer;
}

.form-container {
    background-color: aliceblue;
    max-width: 250px;
    min-height: 100px;
    margin: auto;
}

